/*
More details here: http://next.zengrids.com/reference/grids/#zen-gutters
*/


$zen-auto-include-item-base: true;
$zen-auto-include-grid-item-base: true !default;
$zen-auto-include-box-sizing: false;